@charset "UTF-8";

@font-face {
    font-family: itim;
    src: url(/fonts/itim/Itim-Regular.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: inter;
    src: url(/fonts/inter/Inter-Light.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

:root {
    --animação: fadeIn .6s ease-in-out;
    --manter: forwards;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    image-rendering: optimizeSpeed;
    user-select: none;
}

body {
    background-color: #BDF2DF;
    margin: 0;
    animation: var(--animação);
    animation-fill-mode: var(--manter); 
}

img {
    width: 50px;
}

header {
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #77D9B5;
    box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.300);
    height: 75px;
}

h1#h1-title {
    display: flex;
    align-items: center;
    padding: 1px 0px 0px 15px;
    font-family: inter, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #31594B;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.250);
}

h1>img {
    margin-left: 10px;
    border-radius: 9px;
    width: 50px;
}

nav {
    display: flex;
    margin-right: 30px;
    cursor: default;
    align-items: center;
}

nav>a {
    font-family: inter, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 10px;
    text-decoration: none;
    color: #31594B;
    transition: color 0.3s, text-decoration 0.3s;
}

nav>a:hover {
    text-decoration: underline;
}

a#ap {
    border: 2px solid rgb(49, 89, 75);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: font-size 0.3s, color 0.3s, background-color 0.3s;
}

a#ap:hover {
    font-size: 16px;
    color: #77D9B5;
    background-color: #31594B;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5% 1px;
    transition: all 0.3s;
}

img#img-phone {
    width: 210px;
    transform: rotate(3deg);
    filter: drop-shadow(1px 2px 6px rgba(0, 0, 0, 0.6));
    transition: width 0.3s, margin-top 0.3s;
}

p#p-subtitle {
    font-family: itim, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 75px;
}

img#img-link {
    background-color: #31594B;
    padding: 10px;
    border-radius: 19px;
    width: 65px;
    margin-left: 50px;
}

aside {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: #31594B;
    height: 770px;
}

div#div-side {
    display: inline;
    float: right;
}

div#div-side>h1 {
    margin: 0;
    padding: 15px 40px;
    font-family: itim, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 47px;
    font-weight: 300;
    border-radius: 0px 0px 0px 30px;
    background-color: #BDF2DF;
    color: #31594B;
    text-align: center;
}

div#div-side>p {
    font-family: itim, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 34px;
    padding: 20px 20px 0px 0px;
    max-width: 700px;
    color: #BDF2DF;
}

picture {
    display: block;
}

img#img-proto {
    display: inline;
    width: 90%;
    margin: auto;
    max-width: 500px;
    margin: 165px 0px 0px 0px;
    filter: drop-shadow(1px 2px 6px rgba(0, 0, 0, 0.799));
    transform: rotate(-90deg);
}

article {
    height: auto;
    padding-bottom: 200px;
}

div#div-ticle {
    display: block;
    text-align: start;
}

div#div-ticle>h1 {
    display: inline-block;
    margin: 0;
    padding: 15px 100px;
    font-size: 47px;
    background-color: #31594B;
    font-family: itim;
    font-weight: 300;
    border-radius: 0px 0px 30px 0px;
    color: #BDF2DF;
}

article>p {
    font-size: 34px;
    margin: 25px;
    font-family: itim, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: start;
    color: black;
}

details {
    font-family: inter, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    margin: 25px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: #BDF2DF;
}

details summary {
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

div>h1 {
    margin: 10px;
}

div>ul,
ol {
    margin-left: 40px;
}

li {
    margin: 10px;
}

div>a {
    color: black;
    font-size: 25px;
    padding: 8px;
    text-decoration: none;
    text-decoration: underline;
}

.author {
    display: block;
    padding: 20px;
    font-size: 35px;
    font-family: itim,Arial, Helvetica, sans-serif;
    background-color: #31594B;
    color: rgb(189, 242, 223);
}

.author >  ul {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.author > ul >  li {
    display: flex;
    align-items: center;
    align-content: center;   
}

.insta {
    width: 40px;
    margin-left: 10px;
}

footer {
    text-align: center;
    background-color: #46658c;
    padding: 5px;
    color: black;
    font-weight: 900;
}

.menu {
    display: none;
    margin-right: 10px;
    transition: opacity 0.3s, transform 0.3s;
}

.close {
    display: none;
    margin-right: 10px;
    transition: opacity 0.3s, transform 0.3s;
}

@media screen and (max-width: 768px) {

    h1#h1-title {
        font-size: 25px;
    }

    h1>img {
        width: 30px;
        border-radius: 4px;
    }

    p#p-subtitle {
        font-size: 7.5dvi;
        max-width: 500px;
    }

    img#img-link {
        display: none;
    }

    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 105%;
    }

    div#div-side>h1 {
        font-size: 27px;
        border-radius: 0px 0px 30px 30px;
        padding: 10px;
    }

    div#div-side>p {
        display: block;
        font-size: 22px;
        max-width: 67dvi;
    }

    details summary {
        font-size: 25px;
    }

    .deth1 {
        font-size: 20px;
        text-decoration: underline;
    }

    .obj {
        font-size: 20px;
    }

    img#img-proto {
        width: 80%;
        max-width: 350px;
        margin: 0 auto;
        margin-top: 25px;
        padding: 25% 0%;
    }

    /* div#div-ticle{
        display: block;
    } */

    div#div-ticle>h1 {
        font-size: 27px;
        /* padding: auto; */
        border-radius: 0px 0px 30px 30px;
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .author {
        font-size: 4dvw;
    }
    
    .insta {
        width: 5dvw;
    }

    article>p {
        font-size: 24px;
    }

    nav {
        display: none;
        /* Inicialmente oculto no mobile */
        position: absolute;
        flex-direction: column;
        top: 75px;
        right: 0;
        width: 100%;
        align-items: center;
        padding: 20px 0;
        margin: 0;
        background-color: rgba(39, 203, 143, 0.6);
        z-index: 1000;
        transition: opacity 0.3s, transform 0.3s;
    }

    nav>a {
        margin: 10px 0;
        color: #003a24;
        transition: color 0.3s, text-decoration 0.3s;
    }

    a#ap {
        border: 2px solid #003a24;
    }

    .menu {
        display: block;
        transition: opacity 0.3s, transform 0.3s;
    }

    .close {
        display: none;
        transition: opacity 0.3s, transform 0.3s;
    }

    img#img-phone {
        width: 150px;
        margin-top: 20px;
    }   

    section {
        flex-direction: column;
        align-items: center;
        transition: all 0.3s;
    }
}
@media(orientation: landscape) {
    html {
        max-width: 100dvw;
        max-height: 100dvh;
    }

    body {
        max-width: 100dvw;
        max-height: 100dvh; 
    }
}
